{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Leweei Trading::Profile{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container ">
  <div class="row my-3">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills profile__nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active profile__link profile__nav_active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Профиль</a>
        <a class="nav-link profile__link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Курсы</a>
      </div>
    </div>
    <div class="col-md-9 box">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <form method="post" class="">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn">Редактировать</button>
            </form>
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h3 class="text-center mt-3">К сожеление у Вас пока нет курсов.</h3>
          <p class="text-center">Для покупки курса нужно перейти по <a href="{% url 'courses' %}">ссылке</a>.</p>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

